@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px){
    html,body{
        background-image: linear-gradient(to bottom, #5f2c82, #94cfcd);
    }
   
    #login{
        width: 80vw;
        height: 240px;
        border-radius: 15px;
    }
    #img{
        width: 30%;
        height: 100%;
        float: left;
        border-top-right-radius: 0px;
        border-bottom-left-radius:15px;
    }
    #form{
        float: right;
        width: 68%;
    }
  
} 

@media screen and (min-width:992px) and (max-width: 1200px){
    html,body{
        background-image: linear-gradient(to bottom, #5f2c82, #94cfcd);
    }
    #login{
        width: 95vw;
        height: 240px;
        border-radius: 15px;
    }
    
}            