*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,body{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main{

    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;


}
#login{
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    overflow: hidden;/* configurção para esconder tudo que etsa fora da borda do  meu bloco login */
    height: 420px;
    margin: auto;
    transform: translate(-50%,-50%);
    transition: width .2s, heigth .2s;
    transition-timing-function: ease;

}
#img{
    display: block;
    width:200px;
    height:160px;
    background-image: url('../imagens/metal.jpg');
    background-size: cover;
    background-position: bottom; 
    display: block;
    margin: auto;

}
#form{
    display: block;
    margin: 5px;
}

h1{
    text-align: center;
    margin: 10px;
    font-size: 1.1em;
}
p{
    font-size: 0.65em;
    line-height: 1.5em;
    
}
.usuario{
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    margin: 5px 0px;
}
.material-icons{
    color: white;
    
    
}
#ieme{
    background-color: #94cfcd;
    font-size: 1em;
    width:calc(100% - 30px);
    height: 100%;
    border: 1px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-3px);/*move o objeto na tela*/
}
#ieme:focus{
    background-color: white;
}

#isenha{
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 30px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-3px);  
}
#isenha:focus{
    background-color: white;
}


input[type='submit']{/*configuraçao do tipo especifico do input*/
   
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #53aaa7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type='submit']:hover{
    background-color:#217471 ;
}

a{
    text-align: center;
    display: block;
    background-color:white;
    width: 100%;
    height: 35px;
    border: 1px solid #217471 ;
    border-radius: 5px;
    margin-top: 5px; 
    text-decoration: none;
    font-size: 1em;
    color: #53aaa7;
    padding-top: 7px;
    
}
#mail{
    color:#53aaa7;
    font-size: 0.8em; 
}
a:hover{
    background-color: #94cfcd;
    color: white;
}